@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("assets/fonts/Lexend-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("assets/fonts/Lexend-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("assets/fonts/Lexend-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 600;
    src: url("assets/fonts/Lexend-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("assets/fonts/Lexend-Bold.ttf") format("truetype");
}